{%- comment -%}
    Render Compare products list popup

    Accepts:
    -sticky_table_header: {Bool}
    -show_add_to_cart:    {Bool}
    -show_description:    {Bool}
    -show_vendor:         {Bool}
    -show_sku:            {Bool}
    -show_rating:         {Bool}
    -description_size:    {Numb}
{%- endcomment -%}

<compare-popup id="compare-popup" hidden>
    {% assign title = 'sections.compare.link_title' | t %}
    <h3 class="h3 title">{% render 'helper__decorate-heading', heading: title %}</h3>
    <div class="modal__popup-warnings">
        <span
            class="warning"
            data-empty-list="{{ 'sections.compare.popup.empty_list' | t }}"
            data-lack-list="{{ 'sections.compare.popup.lack_items' | t }}"
        ></span>
    </div>
    <div class="modal__toggle-close">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close">
            <use href="#icon-close" />
        </svg>
    </div>
    <div class="compare-popup__results hidden">
        <div class="modal-results no-js-hidden">
            <div class="compare-products-list">
                {% render 'compare-products-list',
                    products: search.results,
                    use_sticky_header: sticky_table_header,
                    show_product_add_to_cart: show_add_to_cart,
                    show_product_description: show_description,
                    show_product_vendor: show_vendor,
                    show_product_sku: show_sku,
                    show_product_rating: show_rating,
                    product_description_size: description_size
                %}
            </div>
        </div>
    </div>
</compare-popup>
