<link rel="stylesheet" href="{{ 'maintenance.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="susm-frame mb-5" style="margin-top: -40px;">
    <div class="susm-box susm-main">
        <div id="bkg">
            <div id="circle-1">
                <div id="circle-4"></div>
            </div>
            <div id="circle-2">
                <div id="circle-5"></div>
            </div>
            <div id="circle-3">
                <div id="circle-6"></div>
                <div id="circle-7"></div>
            </div>
            <div id="tr-1" class="trap-1"></div>
            <div id="tr-2" class="trap-1"></div>
            <div id="tr-3" class="trap-1"></div>
            <div id="tr-4" class="trap-1"></div>
            <div id="tr-5" class="trap-1"></div>
            <div id="tr-6" class="trap-1"></div>
            <div id="tr-7" class="trap-1"></div>
            <div id="tr-8" class="trap-1"></div>
            <div id="tr-9" class="trap-2"></div>
            <div id="tr-10" class="trap-2"></div>
            <div id="tr-11" class="trap-2"></div>
            <div id="tr-12" class="trap-2"></div>
            <div id="tr-13" class="trap-2"></div>
            <div id="tr-14" class="trap-2"></div>
            <div id="tr-15" class="trap-2"></div>
            <div id="tr-16" class="trap-2"></div>
            <div id="tr-17" class="trap-2"></div>
            <div id="tr-18" class="trap-3"></div>
            <div id="tr-19" class="trap-3"></div>
            <div id="tr-20" class="trap-3"></div>
            <div id="tr-21" class="trap-3"></div>
            <div id="tr-22" class="trap-3"></div>
            <div id="tr-23" class="trap-3"></div>
            <div id="tr-24" class="trap-3"></div>
            <div id="tr-25" class="trap-3"></div>
            <div id="tr-26" class="trap-3"></div>
            <div id="tr-27" class="trap-3"></div>
            <div id="tr-28" class="trap-3"></div>
            <div id="tr-29" class="trap-3"></div>
            <div id="tr-30" class="trap-3"></div>
            <div id="tr-31" class="trap-3"></div>
            <div id="tr-32" class="trap-3"></div>
        </div>
    </div>
</div>
