{%- comment -%}
    Render search result filters using block settings

    Accepts:
     - block:            {Object}
     - blockOrder:       {Number}
{%- endcomment -%}

{%- liquid
    assign type = 'accordion'
    assign position = block.settings.position | split: '-' | first
    if position == 'main'
        assign type = 'buttons'
    endif
    assign state = block.settings.position | split: '-' | last
    if state == 'open'
        assign opened = true
    else
        assign opened = false
    endif

    assign showColorAsSwatches = block.settings.show_colors_as_swatches
    assign showColorSwatchLabels = block.settings.show_color_swatch_labels
-%}

{% if search.filters.size > 0 %}
    <div
        id="main-search-filters"
        class="search__block search__block--filters collection-filters"
        style="order: {{ blockOrder }}"
        data-id="{{ section.id }}"
        {{ block.shopify_attributes }}
    >
        {% render 'facets',
            enable_filtering: true,
            collection: search,
            filters: search.filters,
            show_sorting_desktop: false,
            desktop_facets_type: type,
            desktop_facets_open: opened,
            show_color_as_swatches: showColorAsSwatches,
            show_color_swatch_labels: showColorSwatchLabels
        %}
    </div>
{% endif %}
